<p id="notice"><%= notice %></p>

<p>
  <h1>Bem vindo a página <%= @usuario.login %></h1>

  <% if current_user == @usuario %>
    <h2>Minha página!!!</h2>
  <% end %>
</p>

<p>
  <strong>Login:</strong>
  <%= @usuario.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Home', '/' %>
